/*GLOBAL*/
*{
  box-sizing: border-box;
}

html,body{
  margin: 0;
}

body{
  
  display: flex;
  flex-direction: column;

  height: 100vh;

/*fontes*/
  font-family: 'Roboto', sans-serif;

/*fundo*/
  background-color: white;

  }

  h1,h2{
    color: black;
  }
  
  /*TITULOS*/
  header h1, main h2 {  
    margin-bottom: 70px;    
  
  }


  main h2 span{
    color: #ff4f4f;
  }
  .form h2 {
    text-align: right;
    color:#ffffffaa;
    font-size: 18px;

   
  }
  
  /*ESTRUTURA*/

header ,main, footer{
  /*alinhamentos de textos*/
  text-align:  center;
}

header,.form,main {
       /* espaçamento com margin */
        margin:0 auto 70px auto;

        /* limites dos elementos na pagina */
        width: 90%;
        max-width: 500px;          
}
/*HEADER*/
   header button {
     margin-top: 16px;
     padding: 8px 16px;
     border-radius: 16px;
     border: none;

     background-color: #ff4f4f;
     color: white;

     font-weight: bold;

   }

   .logo{
     width: 450px;
     margin-top: 30px;
}

/*FORM*/
section.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  align-items: center;

  background-color: #ff4f4f;

  padding: 16px 64px;

  border-radius: 20px;


}
form input,
form button{

  /*largura*/
  width: 100%;
  
  /*corrigindo comportamento padrao css*/
  margin-bottom: 4px;

  

  /*preenchimento*/
  padding: 8px 16px;

  /*bordas*/
  border-radius: 16px;
  border:  1px #ffffff88 solid;
  }

  form input {
    background-color: transparent;
  }

  form input::placeholder{
        color: #ffffff;
  }
  form button{
    font-weight: bold;
  }

/*MAIN*/
main .donors{        
  display: grid;
  grid-template-columns:   1fr 1fr  1fr  1fr;           
}
.blood{
            color: black;
            font-weight: bold;
            font-size: 12px;

            display: flex;
            align-items: center;
            justify-content: center;
            


            position: relative;
  
}
.blood::before{
          content: "";
          background-color: #ff4f4f11;
          width: 40px;
          height: 40px;

          position: absolute;

          /*fazer a gotinha*/

          border-radius: 50%;
          border-top-right-radius: 0;

          transform: rotate(-45deg);
}
.donors p {
  margin-top: 24px;
  font-size: 14px;
}

/* footer */
footer{
  margin-top: auto;
  padding:  16px;

  border: 1px solid #eee ;
}
/*funcionalidade com javascript*/

section.form{

      transition: all  300ms;

}

section.form.hide{
       opacity: 0;
       visibility: hidden;
       height: 0;
       margin-top: -70px;
}